@import './layout.module';

.header{
    padding:1rem 0 3rem;

  
  
}
.title{
    font-size: 22px;
    font-weight: 400;
    text-decoration: none !important;
    margin-top: 30px;
    color:  #B6BBBF;
    :hover{
       color: #CCCECF;
    }
}
.navItem {
    text-decoration: none !important; 
    color:  #B6BBBF;
    
    
}
.navItem:hover{
    color:#CCCECF;
}

  
    














