@import './layout.module';

.header{
    padding: 0;
  
    }
   

.title{
    font-size: 26px;
    font-weight: 500;
    text-decoration: none !important;
   
    
}
.title:hover{
    color:#CCCECF; 
}
.navItem {
    
    text-decoration: none !important; 
    color: #607DA0;

    
    
}
.navItem:hover{
    color:#CCCECF;
}
.active-nav-item{
    color:$text-color;
}

.custom { 
    background-color:#00356B;
} 

  
    














