@import './layout.module';

.header{
    padding:1rem 0 3rem;

  
  
}

.title{
    font-size: 26px;
    font-weight: 500;
    text-decoration: none !important;
    
    color:  #B6BBBF;
    
}
.title:hover{
    color:#CCCECF; 
}
.navItem {
    text-decoration: none !important; 
    color:  #B6BBBF;
    
    
}
.navItem:hover{
    color:#CCCECF;
}

  
    














